name: Make Demo Site
on:
  push:
    branches: [ release/demo-app ]
  workflow_dispatch:
    inputs:

jobs:
  build:
    uses: ./.github/workflows/build-demo-images.yml
      
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.9.1

      - name: Maven build
        run: |
          mvn clean package -Pnative -DskipNativeBuild
          rm -rf ./sample-cli/target/image
          rm -rf ./output

      - name: Download native artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: native-launchers-*
          merge-multiple: true
          path: ./sample-cli/target/image

      - name: Set executable bits (not retained by upload action)
        run: chmod +x ./sample-cli/target/image/*/*

      - name: Build Site
        uses: hydraulic-software/conveyor/actions/build@v21.0
        env:
          SIGNING_KEY: ${{secrets.CONVEYOR_SIGNING_KEY}}
        with:
          agree_to_license: 1
          signing_key: ${{secrets.CONVEYOR_SIGNING_KEY}}
          extra_flags: '--logs-dir ./conveyor-logs --cache-limit=2.0'
          command: 'make site'

      - name: Upload logs as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: conveyor-logs
          path: ./conveyor-logs

      - name: Upload Site
        uses: actions/upload-artifact@v4
        with:
          name: native-launchers-site
          path: ./output/**
          retention-days: 10
